
.hero-section{
    background:white;
    padding:50px;
    border-radius:30px;
    text-align:center;
    margin-bottom:30px;
    box-shadow:0 10px 30px rgba(15,23,42,.06);
}

.hero-section h1{
    font-size:60px;
    color:#0f172a;
    margin-bottom:20px;
}

.hero-section p{
    max-width:900px;
    margin:auto;
    color:#64748b;
    line-height:1.9;
    font-size:18px;
}

.cards-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:25px;
    margin-bottom:30px;
    align-items:start;
}

.info-card{
    background:white;
    border-radius:28px;
    padding:24px;
    box-shadow:0 10px 30px rgba(15,23,42,.06);
    position:relative;
    overflow:hidden;
    transition:.3s;
}

.info-card::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:5px;
    background:linear-gradient(
        90deg,
        #2563eb,
        #60a5fa
    );
}

.info-card:hover{
    transform:translateY(-6px);
    box-shadow:0 15px 35px rgba(37,99,235,.12);
}

.info-card h2{
    color:#0f172a;
    margin-bottom:18px;
}

.info-card p{
    color:#64748b;
    line-height:1.8;
}

.info-card ul{
    list-style:none;
    padding:0;
    margin-top:10px;
}

.info-card li{
    padding:8px 0;
    color:#475569;
    border-bottom:1px solid #e2e8f0;
}

.info-card li:last-child{
    border-bottom:none;
}

.footer-card{
    background:white;
    border-radius:30px;
    padding:25px;
    text-align:center;
    margin-bottom:20px;
    box-shadow:0 10px 30px rgba(15,23,42,.06);
}

.footer-card h2{
    color:#0f172a;
    font-size:32px;
    margin-bottom:10px;
}

.footer-card p{
    color:#64748b;
    font-size:16px;
    line-height:1.6;
    margin:8px 0;
}

@media(max-width:1000px){

    .cards-grid{
        grid-template-columns:1fr;
    }

}

@media(max-width:768px){

    .hero-section{
        padding:35px;
    }

    .hero-section h1{
        font-size:40px;
    }

    .hero-section p{
        font-size:16px;
    }

    .info-card{
        padding:20px;
    }

    .footer-card{
        padding:20px;
    }

    .footer-card h2{
        font-size:26px;
    }

}

@media(max-width:500px){

    .hero-section h1{
        font-size:32px;
    }

    .footer-card h2{
        font-size:22px;
    }

}

.project-team{
    background:white;
    padding:30px;
    border-radius:28px;
    margin-bottom:25px;
    box-shadow:
    0 10px 30px rgba(15,23,42,.06);
}

.project-team h2{
    text-align:center;
    color:#0f172a;
    margin-bottom:25px;
}

.team-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:20px;
}

.team-card{
    background:#f8fafc;
    padding:25px;
    border-radius:20px;
    text-align:center;
    border:1px solid #e2e8f0;
}

.team-card h3{
    color:#0f172a;
    margin-bottom:10px;
}

.team-card p{
    color:#64748b;
}

@media(max-width:768px){

    .team-grid{
        grid-template-columns:1fr;
    }

}